body {
    margin: 0;
    font-family: Tahoma;
}

/* === Estilos Globais === */

div {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-repeat:;
}
 
div p {
    margin: 10px auto;
    width: 980px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}

.div-cabeçalho {
    background-color: #afddfb;
}

.div-cabeçalho img {
    width: 150px;
}

.div-cabeçalho p {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}

.div-cabeçalho p .item-topico {
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
}


.div-2 {
    padding: 0;
    margin-top: 50px;
}

.div-3 h1 {
    color: #1d1d1d;
    margin-bottom: 5px;
}

.div-3 h2 {
    color: #1c81c0;
    margin-top: 0;
    font-weight: normal;
}

.div-3 img, .div-5 img {
    width: 450px;
}

.div-3 p span, .div-5 p span {
    color: #1d80c1;
    font-weight: bold;
}

.div-4 {
    background-color: #1d80c1;

}

.div-4 h2, .div-6 h2 {
    font-size: 28px;
    line-height: 42px;
    color: #ffffff;
}

.div-4 p {
    color: #ffffff;
    line-height: 42px;
    font-size: 22px;
    text-align: center;
    width: 700px;
}

.div-4 p span, .div-6 p span {
    color: #fff81b;
    font-weight: bold;
}

.div-4 ul {
    margin: 40px auto;
    width: 135px;
}

.div-4 ul li {
    color: #ffffff;
    line-height: 42px;
    text-align: left;
    font-size: 22px;
}

.div-5 h2 {
    color: #1d80c1;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
}

.div-6 {
    background-color: #1d80c1;
}

.div-6 iframe {
    width: 700px;
    height: 275px;
}

.div-6 p {
    color: #ffffff;
    padding: 15px;
    background-color: #1d1d1d;
    margin-top: 30px;
    margin-bottom: 30px;
}

.div-6 ul {
    margin: 40px auto;
    width: 210px;
}
.div-6 ul li {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}

.div-6 li a {
    background-color: #ffffff;
    color: #1d80c1;
    padding: 2px 5px;
    border-radius: 5px;

}